*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Popins', sans-serif;
}

fieldset{
    border: 0;
}

body{
    background-image:url(Imagens/Pagina_Cadastro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ffff;
    padding: 0 0 0 37px;
    background: rgba(255, 255, 255, 0.1);
}

#email{
    margin-top: 10%;
}

#genero{
    margin-right: 60%;
}

#genero_masculino{
    margin-left: 24%
}

#genero_feminino{
    margin-left: 19%;
}

h1{
    color: #000000;
    background-color: rgba(20, 230, 184, 0.938);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    color: #0cec17;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    text-align: center;
}

::-webkit-input-placeholder{
    color: #ffff;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.singup{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

input, select, textarea button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.campo label{
    margin-bottom: 0.2em;
    color:  rgb(0, 255, 149);
    display: block;
}

fieldset.grupo .campo{
    float:left;
    margin-left: 0.5em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="password"], .campo input[type="date"]{
    border: 1px solid rgb(0, 255, 149);
    box-shadow: 2px 2px 2px rgb(0, 247, 255);
}


.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
} 

.Envio {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);;
    cursor: pointer;
    transition: .3s;
}

.Envio:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);;
}



.title{
    color: rgb(0, 255, 157);
    background: fixed;
    border-radius: 8px;
}

.nav-button{
    border:0;
    border-radius:4px;
    padding:8px;
    background-color: rgb(0, 255, 157);
    margin: 8px;
    cursor: pointer;
}

.nav-button{
    color: #FFF;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color: #f1f1f1;
}

.overlay .closebtn{
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
}

#signup-form {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative; }
    #signup input[type="text"],
    #signup input[type="password"],
    #signup input[type="email"], 
    #singup input[type="date"],
    #singup input[type="radio"]{
        width: 18em; }
    #signup > * {
        margin: 0 0 0 1em; }
    #signup > :first-child {
        margin: 0 0 0 0; }
    @media screen and (max-width: 480px) {
        #signup {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        #signup input[type="type"],
        #signup input[type="password"],
        #signup input[type="email"],
        #singup input[type="date"],
        #singup input[type="radio"] {
            width: 100%; }
        #signup > * {
            margin: 1.25em 0 0 0; }
        #signup .message {
            bottom: -1.5em;
            font-size: 0.9em;
            height: 1em;
            left: 0;
            line-height: inherit;
            margin-top: 0;
            position: absolute; } }


@media screen and (max-height:450){
    .overlay a {font-size: 20px;}
    .overlay, .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media screen and (max-width: 1680px){
    .overlay a {font-size: 20px;}
    .overlay, .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    body{
        bottom: 3.5em;
        left: 3.5em;
    };
}

@media screen and (max-width: 736px){
    body{
        bottom: 2em;
        left: 2em;
    }
}

@media screen and (max-width: 360px) {
    body {
        bottom: 1.25em;
        left: 1.25em; 
    } 
}

@media screen and (max-height: 640px) {
    body {
        bottom: auto;
        left: auto;
        margin: 1em 0 0 0;
        position: relative; 
    } 
}
