*{
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(Imagens/Tela_de_Login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: #ffff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #ffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ffff;
    padding: 0 0 0 37px;
    background: rgba(255, 255, 255, 0.1);
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #ffff;
}
::-webkit-input-placeholder{
    color: #ffff;
}
.submeter{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);;
    cursor: pointer;
    transition: .3s;
}
.submeter:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);;
}
.botao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #ffff;
    margin-top: 10px;
}
:left{
    display: flex;
}
label a{
    color: #ffff;
    text-decoration: none;
}

.nav-button{
    border:0;
    border-radius:4px;
    padding:8px;
    background-color: #F28177;
    margin: 8px;
    cursor: pointer;
}

.fas fa-spin fa-spinner{
    border:0;
    border-radius:4px;
    padding:8px;
    background-color: rgb(0, 0, 0);
    margin: 8px;
    margin-bottom: 50%;
    cursor: pointer;
}

.nav-button{
    color: #FFF;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color: #f1f1f1;
}

.overlay .closebtn{
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height:450){
    .overlay a {font-size: 20px;}
    .overlay, .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



button {
    --primary-color: #F28177;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

  .checkbox-wrapper-12 {
    position: relative;
  }
  
  .checkbox-wrapper-12 > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
  }
  
  .checkbox-wrapper-12 * {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
  }
  
  .checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
  }
  
  .checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(100px - 12px);
    left: calc(100px - 12px);
  }
  
  .checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
  }
  
  .checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
  }
  
  .checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
  }
  
  .checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
  }
  
  .checkbox-wrapper-12 .cbx input:checked + label {
    animation: splash-12 0.6s ease forwards;
  }
  
  .checkbox-wrapper-12 .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
  }
  
  @-moz-keyframes splash-12 {
    40% {
      background: #F28177;
      box-shadow: 0 -18px 0 -8px #F28177, 16px -8px 0 -8px #F28177, 16px 8px 0 -8px #F28177, 0 18px 0 -8px #F28177, -16px 8px 0 -8px #F28177, -16px -8px 0 -8px #F28177;
    }
  
    100% {
      background: #F28177;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  
  @-webkit-keyframes splash-12 {
    40% {
      background: #F28177;
      box-shadow: 0 -18px 0 -8px #F28177, 16px -8px 0 -8px #F28177, 16px 8px 0 -8px #F28177, 0 18px 0 -8px #F28177, -16px 8px 0 -8px #F28177, -16px -8px 0 -8px #F28177;
    }
  
    100% {
      background: #F28177;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  
  @-o-keyframes splash-12 {
    40% {
      background: #F28177;
      box-shadow: 0 -18px 0 -8px #F28177, 16px -8px 0 -8px #F28177, 16px 8px 0 -8px #F28177, 0 18px 0 -8px #F28177, -16px 8px 0 -8px #F28177, -16px -8px 0 -8px #F28177;
    }
  
    100% {
      background: #F28177;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  
  @keyframes splash-12 {
    40% {
      background: #F28177;
      box-shadow: 0 -18px 0 -8px #F28177, 16px -8px 0 -8px #F28177, 16px 8px 0 -8px #F28177, 0 18px 0 -8px #F28177, -16px 8px 0 -8px #F28177, -16px -8px 0 -8px #F28177;
    }
  
    100% {
      background: #F28177;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
