body{
    background-attachment: fixed;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.circle{
    max-width: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

p{
    color: aqua;
    display: flex;
}

h4{
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    background-color: rgba(20, 230, 184, 0.938);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.nav-button{
    border:0;
    border-radius:4px;
    padding:8px;
    background-color:rgba(142, 255, 180, 0.884);
    margin: 8px;
    cursor: pointer;
}

.nav-button{
    color: #FFF;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color: #f1f1f1;
}

.overlay .closebtn{
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
}



@media (min-height:450px) {
    #background-video { background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;}
    body {
    background: url("Imagens/2148011777.jpg") no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }
    .videos{
        display: none;display: flex; background-size: cover;
    }
    .circle{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-height:450px){
    .overlay a {font-size: 20px;}
    .overlay, .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


















